/**
 * kn-cell component style
 */
@import '../style/index.scss';

// line-height 布局
.kn-cell {
  width: 100%;
  height: px2rem(55);
  line-height: px2rem(55);
  background-color: #fff;
  padding: 0 px2rem(20);
  font-size: px2rem(30/2);
  position: relative;

  // 单元格title
  .cell-title {
    height: px2rem(55);
    line-height: px2rem(55);

    // title图标
    .title-icon {
      width: px2rem(22);
      line-height: px2rem(55);
      height: px2rem(55);
      background: url('../assets/cell/face.png') center center no-repeat;
      background-size: contain;
      margin-right: px2rem(4);
    }
    // title文字
    .title-txt {
      height: px2rem(55);

      &::after {
        content: ' ';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        margin-top: px2rem(2);
      }
    }
    // title关联文字
    .title-label {
      height: px2rem(55);
      position: relative;
      top: px2rem(10);

      .txt-main {
        height: px2rem(21);
        line-height: px2rem(21);
        font-size: px2rem(15);
      }

      .txt-label {
        height: px2rem(13);
        line-height: px2rem(13);
        font-size: px2rem(12);
        margin-top: px2rem(2);
      }
    }
  }

  // 单元格value
  .cell-value {
    height: px2rem(55);
    line-height: px2rem(55);

    // value文字
    .value-txt {
      height: px2rem(55);

      &::after {
        content: ' ';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        margin-top: px2rem(2);
      }
    }

    // value图标
    .value-icon {
      width: px2rem(13);
      height: px2rem(55);
      line-height: px2rem(55);
      margin-left: px2rem(8);
    }

    .cell-link {
      background: url('../assets/cell/arrow-right.png') center center no-repeat;
      background-size: px2rem(8) px2rem(14);
    }

    .cell-select {
      background: url('../assets/cell/arrow-down.png') center center no-repeat;
      background-size: px2rem(14) px2rem(8);
    }
  }
}
