// 颜色文件

// 带上钱主题色
$color-primary: #ff7015;
$color-secondary1: #ffb500;
$color-secondary2: #6fc93e;
$color-default: #333;
$color-tertiary: #999;
$color-placeholder: #bababa;
$color-light: #e4e4e4;
$color-link: #4a90e2;
$color-important: #ff6262;
$color-danger: #f00;
$color-success: #69c959;
$color-warning: #ffb844;
$color-bg-default: #f8f8f8; 