.kn-body-hidden {
  overflow: hidden;
}

.kn-fl {
  float: left;
}

.kn-fr {
  float: right;
}

/*清除浮动*/

.kn-clearfix:before,
.kn-clearfix:after {
  content: '';
  display: table;
}

.kn-clearfix:after {
  clear: both;
}
