// 所有布局相关
// body禁用滚动
.kn-body-hidden {
  overflow: hidden;
}

.kn-fl {
  float: left;
}

.kn-fr {
  float: right;
}

/*清除浮动*/
.kn-clearfix:before,
.kn-clearfix:after {
  content: '';
  display: table;
}

.kn-clearfix:after {
  clear: both;
}

/**
 * 字体大小 10 号到 70 号字
 */

@for $i from 10 through 70 {
  .kn-fs#{$i} {
    font-size: px2rem($i);
  }
}

/**
 * margin-top 2 rem到 120 rem
 */
@for $i from 0 through 120 {
  .kn-mt#{$i} {
    margin-top: px2rem($i) !important;
  }
}

/**
 * margin-bottom 2 rem到 120 rem
 */
@for $i from 0 through 120 {
  .kn-mb#{$i} {
    margin-bottom: px2rem($i) !important;
  }
}

/**
 * margin-right 2 rem到 120 rem
 */
@for $i from 0 through 120 {
  .kn-mr#{$i} {
    margin-right: px2rem($i) !important;
  }
}

/**
 * margin-left 2 rem到 120 rem
 */
@for $i from 0 through 120 {
  .kn-ml#{$i} {
    margin-left: px2rem($i) !important;
  }
}

/**
 * padding-top 2 rem到 120 rem
 */
@for $i from 2 through 120 {
  .kn-pt#{$i} {
    padding-top: px2rem($i);
  }
}

/**
 * padding-bottom 2 rem到 120 rem
 */
@for $i from 2 through 120 {
  .kn-pb#{$i} {
    padding-bottom: px2rem($i);
  }
}

/**
 * padding-right 2 rem到 120 rem
 */
@for $i from 2 through 120 {
  .kn-pr#{$i} {
    padding-right: px2rem($i);
  }
}

/**
 * padding-left 2 rem到 120 rem
 */
@for $i from 2 through 120 {
  .kn-pl#{$i} {
    padding-left: px2rem($i);
  }
}

/**
 * 文字居中形式
 */
.kn-tac {
  text-align: center;
}

.kn-tal {
  text-align: left;
}

.kn-tar {
  text-align: right;
}

/**
 * 超出块的文字显示省略号，可以传入最大显示行数
 */
@for $i from 1 through 10 {
  .kn-txt-cut#{$i} {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

// 下边框 100%
.kn-bd-btm-100 {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    content: '';
    border-top: 1px solid #d8d8d8;
    transform: scaleY(0.5) translateX(-50%);
  }
}

// 下边框，靠右95宽
.kn-bd-btm-95 {
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 95%;
    content: '';
    border-top: 1px solid #d8d8d8;
    transform: scaleY(0.5);
  }
}
