/* 初始化 */
@charset "utf-8";
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

/*初始化body字体大小*/
body {
  height: 100%;
  font-size: 14px;
}

/*去除边框*/

fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}

/*禁止表单域缩放*/

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

/*i标签的表现跟span是一样*/

em,
i {
  font-style: normal;
}

.kn-fl {
  float: left;
}

.kn-fr {
  float: right;
}

/*清除浮动*/

.kn-clearfix:before,
.kn-clearfix:after {
  content: '';
  display: table;
}

.kn-clearfix:after {
  clear: both;
}


/**
 * 超出块的文字显示省略号，可以传入最大显示行数
 */
@for $i from 1 through 10 {
  .kn-txt-cut#{$i} {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

// 下边框 100%
.kn-bd-btm-100::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  content: '';
  border-top: 1px solid #d8d8d8;
  transform: scaleY(0.5) translateX(-50%);
}

// 下边框，靠右96宽
.kn-bd-btm-95::after {
  position: absolute;
  bottom: 0;
  left: 53%;
  width: 95%;
  content: '';
  border-top: 1px solid #d8d8d8;
  transform: scaleY(0.5) translateX(-50%);
}
